@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

body {
    font-family: "Montserrat" , sans-serif;
}   

h1,h2,h3.h4,h5,h6, strong {
    color: black;
}

p{
    font-size: 30px;
    line-height: 30px;
}

p,span, label, input,textarea, li{
    color:black
}

a{
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* logo dan navigation*/
.nav{
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
}
.nav ul {
    list-style: none;
    display: flex;
    gap: 46px;
}
.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
}
.logo a{
    color: black;

}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a{
    font-family: "Montserrat" , sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 600;
}
#destination {
    display: flex;
    justify-content: space-between; /* Membuat jarak antara teks dan gambar */
    align-items: center; /* Memastikan teks dan gambar sejajar di tengah vertikal */
    height: 720px; /* Sama seperti container sebelumnya */
}

.text-name {
    font-size: 50px;
}

.text-left {
    width: 50%; /* Memberi lebar agar konten teks pas di sisi kiri */
}

.text-right {
    width: 50%; /* Membuat gambar pas di sisi kanan */
    display: flex;
    justify-content: flex-end; /* Memastikan gambar menempel ke kanan */
}

.text-right img {
    max-width: 100%; /* Membuat gambar menyesuaikan kolomnya */
    height: auto; /* Agar proporsi gambar tetap terjaga */
    border-radius: 10px; /* Opsional: memberi efek sudut melengkung */
}

header {
    background-image: url(background2.jpg);
 }

nav ul li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}